* {
    line-height: 1.25;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
  padding-top: 2%;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
   
    
}
  
  body::before{
      content: "";
      background-image: url(flame2.jpg);
      opacity: 1;
      background-size: cover;
      position: absolute;
      top: -150px;
      right: 0;
      bottom: 20px;
      left: -100px;
      background-color: black;
      z-index: -5;
  }
  

nav {
    display: flex;
    flex-direction: row;
    margin-right: 3%;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;

}

nav li {
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-right: 1%;
    z-index: 2;
    margin-left: 2%;
}

nav a:link {
    text-decoration: none;
    
}

nav a {
    color: darkslategrey;
   
   
}

.links{
  justify-content: space-between;
  min-width: 1200px;

}
a:hover {
    color: firebrick;
   }

a:active {
  background-image: url('fire.png');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
    margin: 0;
}

main {
    background-color: black;
    flex: 1;
    opacity: .80;
    
}

#logo {
    height: 130px;
    width: 130px;
    z-index:2;

  
  
}

footer {
    background-color: white;
    position: relative;
    top: -1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   padding-right: 5%;
   padding-left: 5%;
   margin-bottom: 1%;

}

h2,
p {
    color: darkslategray;
}
.copyright {
    color: darkslategray;
    margin:0;

}


/* Start of carosel */

.mySlides {
  display: none
  
}
img {
  vertical-align: middle;
  
}
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}





/* Caption text */
.text {
  color: #ffffff;
  font-size: 50px;
  text-align: center;

}

#caption{
  line-height: 1.25;
  font-size: 16px;
  color: white;
  margin-top: 0;

}

/* The dots/bullets/indicators */
.dot {
  /* cursor: pointer; */
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 


.active,
.dot:hover {
  background-color: #111111;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

#kieologo {
  width: 30px;
  height: 30px;
  margin-top: 2%;
}

.wrapper,
h1,
main p {
  text-align: center;
  font-size: 17.75px;
  font-weight: bold;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-top: 0;  
  line-height: 2.5;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  /* position: relative;
  top: 15%; */
  flex-wrap: wrap;
  margin-right: 2%;;
  margin-left: 2%;
}



h1 {
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
  margin-bottom: 0;
}

#certificate {
  width: 350px;
  height: 350px;
  margin-left: 2%;
  margin-top: 3%;
  border: white 10px solid;
  box-shadow: orange 5px 5px 30px 5px;
   
  
}

#bio {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
 margin-top: 0;
 padding-top: 3%;
 flex: 1;

 }

#main3 {
  display: flex;
  flex-direction: row;

}

#biopara {
  line-height: 1.5;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

/* style form */

form {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: wheat;
  position: relative;
  left: 35vw;;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
 ;
}

.formsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  font-size: 18px;
  margin: 5px;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  text-align: center;
  margin-bottom: 30px;
  color: black;
 
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}



input[type="text"],
input[type="tel"],
input[type="email"] {
  margin-left: 10px;
}

#comments {
  margin-bottom: 30px;
  margin-top:10px;
  margin-left: 10px;
}

.space {
  margin-left: 40px;
  margin-top:10px;
}

button {
  background: rgba(255,255,255,0.1);
  padding: 15px 30px;
  color: white;
  background-color: tomato;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  border-width: 1px 1px 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

label {
  display: inline-block;
  margin:0;
  margin-left: 10px;
 
}

#formtitle {
  text-decoration: none;
  font-size: 30px;
}

/* style footer */
#ffcontact {
  line-height: 0.5;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
  margin-left: 40px;
  
}

#location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#dots {
  padding-bottom: 10px;
}

/*style facebook link*/
.fa {
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  padding: 5px;
}

.fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 30px;
  text-align: center;
  height: 30px;
  padding-top:10px;
  margin-top: 15%;
  
}

a.fa.fa-facebook:hover {
  color: white;
  
}

a {
  line-height: 0.5;
  }

  #social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #social p {
    margin:0;
    margin-top: 3%;
    padding-bottom: 5px;
  }

  #klogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }

  #klogo p {

    margin-top: 3%;
  }

  /* style hamburger menu */

.bar1,
.bar2,
.bar3 {
  background-color: black;
  width: 50px;
  height: 5px;
  margin: 15px;
  transition: 0.4s;
  
}

.menu {
position: absolute;
top: 0;
right: 0;
cursor: pointer;
width: 50px;
height: 80px;
padding-right: 85px;
padding-top: 5px;
padding-left: 5px;
margin: 2%;
display: block;
background-color: white;
margin-left:10%;
}

.menu:hover {
background-color: grey;
}

/* Rotate first bar */
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-15px, 10px) ;
transform: rotate(-45deg) translate(-15px, 10px) ;
}

/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-15px, -15px) ;
transform: rotate(45deg) translate(-15px, -15px);
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .text {
    font-size: 11px
  }
}

@media only screen and (max-width: 250px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width: 315px) {
  #check {
    display: flex;
    flex-direction: column;
  }
#check label {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.25;
}
}

@media screen and (max-width: 400px) {
  .slideshow-container img {
    max-height: 40vh;
  }

  .slideshow-container {
    max-height: 60vh;
  }

}



@media screen and (max-width: 1450px) and (min-width: 1199px) {
  .links {
    min-width: 80vw;
    flex-wrap: nowrap;
       
    }
  header {
    overflow-x: visible;
  }
     
  #certificate {
    align-self: center;
    margin-top: 0;
    
  }

  .wrapper {
    flex-wrap: nowrap;
  }

  .wrapper section {
    padding-left: 1%;
    padding-right: 1%;
  }
   } 

   @media screen and (min-width: 1450px) and (min-width: 1550px) {
    .wrapper section {
      padding-left: 2%;
      padding-right: 2%;
    }

    .wrapper {
      flex-wrap: nowrap;
      }
    }
   

@media screen and (min-width: 1850px) {
  .wrapper {
    justify-content: space-around;
  }
}
 
@media screen and (max-width: 1199px) {
  #navigation {
    display: none;
  }

  #navigation.change {
    display: block;
    margin: 0;
    text-align: right;
    position: absolute;
    z-index: 100;
  
    
  }

nav li {
width: 100vw;
  line-height: 10;
  background-color: black;
  margin: 0;
  padding-bottom: 1%;
}

nav li:last-child {
  padding-bottom: 0%;
}

body::before {
    margin: 0;
    z-index: -1;
 }
 
#logo {
  width: 80px;
  height: 80px;
  margin: 0;
}

.links {

  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 2;

}

header {
  margin: 0;
  padding: 0;
  display: block;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  margin-left: 3%;
 
}

.menu {
  margin: 0;
  margin-top: 2%;
  z-index: 2;

}

nav {
  margin-right: 0;
}

nav a {
  color: white;
  padding: 14px 16px;
  display: block;
  }

nav a:hover {
  background-color: #ddd;
  color: black;
}

#logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

.text {
  font-size: 35px;
}


#certificate {
  margin: 0 auto;
  align-self: center;
  display: block;
  margin-top: 3%;
}




.text{
  padding-bottom: 20px;
  padding-top: 20px;


}

#main1 {
  height: 100vh;
}

.slideshow-container img {
  height: 60vh;
}

.dots{
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  max-width: 100vw;
  margin: 5%;
 left: 0;
 text-align: left;
}

#main4 {
  margin: 0;
  padding: 0;
}

.formsection {
  display: block;
  }

label {
  margin-left: 0;
}

footer {
  text-align: center;
  font-size: 10px;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 2;
  
}

#ffcontact{
  margin-left: 30px;
  margin-right: 20px;
}

.fa {
  font-size: 10px;
}

.wrapper{
  flex-direction: column;

}


#main3 {
 
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;

}


main{
  max-height: 80vh;
}


}

@media screen and (min-width: 1200px) {
  #navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 0;
    }
  
    .menu {
      display: none;
    } 

  .slideshow-container {
    height: 60vh;
    
  }

  main {
    height: 50vh;
  }

#bio {
  margin-top: 0;
  align-self: center;;
}

#certificate {
  margin-top: 0;
  align-self: center;

}

#main2 {
  display: flex;
}

.wrapper {
  align-self: center;
  margin-top: 0;
  
}
}