* {
    line-height: 1.25;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
  padding-top: 2%;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  padding-bottom: 2%;
   
    
}
  
  body::before{
      content: "";
      background-image: url(flame2.jpg);
      opacity: 1;
      background-size: cover;
      position: absolute;
      top: -150px;
      right: 0;
      bottom: 20px;
      left: -100px;
      background-color: black;
  }
  

nav {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;

}

nav li {
    list-style-type: none;
    justify-content: space-around;
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-right: 2%;
    z-index: 2;
}

nav a:link {
    text-decoration: none;
    
}

nav a {
    color: darkslategrey;
   
   
}

a:hover {
    color: firebrick;
   }

a:active {
  background-image: url('fire.png');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
    margin: 0;
}

main {
    background-color: black;
    flex: 1;
    opacity: .80;
    height: 50vh;
    
    
}

#logo {
    height: 130px;
    width: 130px;
    margin-left: 5%;
    z-index:2;
}

footer {
    background-color: white;
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h2,
p {
    color: darkslategray;
}
.copyright {
    color: darkslategray;
    text-align: center;
    margin-left: 5px;
    padding-top: 10px;
}


/* Start of carosel */

.mySlides {
  display: none
  
}
img {
  vertical-align: middle;
  
}
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  height:60vh;
  width: 100%;
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}


/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
  margin-right: 2%;
}

.prev {
  left: 20px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  ;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* 
 #anthonymma {
   position: relative;
   top: -50px;
   z-index:-2;

 } */


.active,
.dot:hover {
  background-color: #111111;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

#kieologo {
  width: 35px;
  height: 40px;
  margin-top: 1%;
  padding: 0;
 
}

.wrapper,
h1,
main p {
  text-align: center;
  font-size: 17.75px;
  font-weight: bold;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-top: 0;  
  line-height: 2.5;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  position: relative;
  top: 15%;
  flex-wrap: wrap;
  margin-right: 2%;;
  margin-left: 2%;
}



h1 {
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
  margin-bottom: 0;
}

#certificate {
  width: 950px;
  height: 400px;
  margin-left: 2%;
  margin-top: 3%;
  border: white 10px solid;
  float: left;
  box-shadow: orange 5px 5px 30px 5px;
  
}

#bio {
  float: right;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
 margin-top: 0;
 overflow: hidden;
 }

#main3 {
  display: flex;
  flex-direction: row;

}

#biopara {
  line-height: 1.5;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

/* style form */

form {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: wheat;
  position: relative;
  left: 35vw;;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  font-size: 18px;
  margin: 5px;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  text-align: center;
  margin-bottom: 30px;
  color: black;
 
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}



input[type="text"],
input[type="tel"],
input[type="email"] {
  margin-left: 10px;
}

#comments {
  margin-bottom: 30px;
  margin-top:10px;
  margin-left: 10px;
}

.space {
  margin-left: 40px;
  margin-top:10px;
}

button {
  background: rgba(255,255,255,0.1);
  padding: 15px 30px;
  color: white;
  background-color: tomato;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  border-width: 1px 1px 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  margin-left: 10px;
}

label {
  display: inline-block;
  margin:0;
  margin-left: 10px;
 
}

#formtitle {
  text-decoration: none;
  font-size: 30px;
}

